main{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0;
    font-size: 100px;
    background-color: black;
    border-radius: 2%;
}
p {
    color: yellow;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
